$box-background: #e3bcad;
$total-background: #b97c67;
$letter-icon-background:#8d060d;
$icon-color: white;

.body {
    background-color: $total-background;
    display: flex;
    justify-content: center;
}

