
$box-background: #e3bcad;
$total-background: #b97c67;
$letter-icon-background:#8d060d;
$icon-color: white;

.body {
    background-color: $total-background;
    display: flex;
    justify-content: center;
}

.root {
    margin: 12% 0;
    width: 45%;
}

@media (max-width: 1007px) {
    .root {
        margin: 18% 0;
        width: 75%;
    }
}

@media (max-width: 640px) {
    .root {
        margin: 3%;
        width: 97%;
    }
}
